body {
	font-family: Arial, sans-serif;
	margin: 0;
    background-color: rgb(245, 245, 245);
    
}



header {
	display: flex;
	align-items: left;
	height: 80px;
	background-color: rgb(245, 245, 245);
	padding: 10px 0px 20px 0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bar {
  background-color: grey;
  height: 60px;
}

.container{
    width: 100%;
    height: 60px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.second-container {
    width: 780px;
    height: 52px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center ;
    border-radius: 6px;
}

.search-box{
    width: 700px;
}

input{
     width: 700px;
     height: 50px;
     border: none;
     border-radius: 6px;
     padding: 0px 15px;
     outline: none;
     font-size: 20px;
}

.after-search h2{

    margin-left: 35px;
    float: left;
}



.submit-button{
    position: relative;
    border-top: none;
    border-bottom: none;
    border-right: none;
    background-color: white;
    border-left-style: solid;
    border-left-color: black;
    border-left-width: 2px;
    padding-left: 10px;
    height: 30px;
    cursor: pointer;
    
}

.after-search {
    display: flex;
    height: 60px;
 
}

.after-search .display-query{
    max-width: 800px;
 
}
.after-search .display-query h2{
    max-width: 800px;
    text-overflow: ellipsis;
    display: inline;
    overflow: hidden;
    white-space: nowrap;
      

}

 .sort {
    display: flex;
    float: right;

    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
 }

 .sort h3{
    margin-right: 20px;
    text-align: center;
 }


 .dropdown {
    width: 170px;
    text-align: center;
    padding-top: 10px;
  }
  
/* style for the dropdown menu button */
.dropdown button {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 10px;
    height: 40px;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    cursor: pointer;
    width: 170px;
    font-size: 16px;
    text-align: left;
    border-color: grey;
    
}

.dropdown button .btn-text {
    width: 150px;
}

.dropdown button ion-icon{
    position: relative;
    font-size: 20px;
}


/* style for the dropdown menu content */
.dropdown-content {
    width: 170px;
    background-color: #f9f9f9;
    display: none;
    margin-bottom: 0px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* style for the links inside the dropdown menu */
.dropdown-content a {
    width: 170px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    display: block;
}

/* style for the links inside the dropdown menu on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    transition: 0.3s ease;
}   

/* show the dropdown menu content when the button is hovered or clicked 
.dropdown button:hover .dropdown-content {
    display: block;
}*/
.dropdown-content.show {
    display: block;
  }






 .filter {
    margin-top: 50px;
    display: flex;
    margin-left: 110px;

  }
  
  .filter h2 {
    margin-bottom: 10px;
  }
  
  .filter ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .filter li {
    margin: 0 10px;

  }
  
  .filter a {
    display: block;
    padding: 10px 20px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .filter a.active,
  .filter a:hover {
    background-color: #333;
    color: #fff;
    transition: 0.3s ease;
  }
  
  .search-results{
    background-color: white;    
    margin-left: 105px;
    margin-right: 50px;
    margin-top: 20px;
    min-height: 500px;
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    border-width: 1px;
    
}   


.search-results a{
    display: flex;
    text-decoration: none;
}

.search-results img{
    width: 50px;
    height: 50px;
    object-fit: cover;

    border-radius: 50%;
    margin-right: 1rem;
}

.search-results .no-search{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #363636;
    text-align: center;
}

.result{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 10px 10px;
    background-color: white ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #ddd;
    cursor: pointer;
}

.result:hover{
    background-color: #e5e5e5;
    transition: 0.3s ease;
}

.result .info{
    width: 100%;
}
.result #name{
    color: black;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 500;
}

.result #bio{
    margin: 0px;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;

    color: #777777;

}
.result #industry {
    font-size: 13px;
}

.no-results{
    text-align: center;
    margin-top: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #363636;

}

.no-results h3{
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap:break-word;
}

.bar h2 {
    color: white;
    margin:0px;
    padding: 20px;
    font-size: 45px;
}

.logo {
	flex: 1;
    padding: 0;
}

.logo img {
	height: 100px;
}

.title {
	flex: 2;
	text-align: left;
    margin: 15px;
    
}

.title h1 {
	margin: 0;
	font-size: 36px;
	font-weight: bold;
}

.title p {
	margin: 0;
    margin-left: 30px;
	font-size: 18px;
	color: gray;
}

.logout-button{
    margin-top: 0px;
    display: flex;
    align-items: center;  
    justify-content: center;
    cursor: pointer;
    width: 95px;
    height: 35px;
    border: none;
    background-color: lightgrey;
    border-radius: 5px;
    font-weight: 600;

}

header a{
    text-decoration: none;
}
.logout-button:hover{
    background-color: #a9a9a9;

}

.logout-button ion-icon{
    font-size: 17px;
    color: blue;
    margin-left: 5px;
}