body {
	font-family: Arial, sans-serif;
	margin: 0;
    background-color: rgb(245, 245, 245);
    
}



header {
	display: flex;
	align-items: left;
	height: 80px;
	background-color: rgb(245, 245, 245);
	padding: 10px 0px 20px 0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bar {
    background-color: grey;
    
}


.bar h2 {
    color: white;
    margin:0px;
    padding: 20px;
    font-size: 45px;
}

.logo {
	flex: 1;
    padding: 0;
}

.logo img {
	height: 100px;
}

.title {
	flex: 2;
	text-align: left;
    margin: 15px;
}

.title h1 {
	margin: 0;
	font-size: 36px;
	font-weight: bold;
}

.title p {
	margin: 0;
    margin-left: 30px;
	font-size: 18px;
	color: gray;
}

hr {
	border: none;
	border-top: 1px solid black;
	margin: 0;
}
.profile-info {
    display: flex;
}

.profile-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 50px;
}

.profile-title img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	object-fit: cover;
}

.fields {
	margin: 50px;
    margin-left: 200px
}

.fields-info {
    display: flex;
}
.left {
	flex: 1;
	text-align: left;
	padding-right: 10px;
}

.right {
	flex: 1;
	padding-left: 10px;
}

button {
    margin-left: 40vw;
    background-color: rgb(24, 108, 205);
    border: solid 1px transparent;
    border-radius: 3px;
    color: white;
    padding: 7px;

}

.dialog {
    display:block;
    
}

.team-members {
    padding-left: 80px;
}

.posts {
    display:block;
}
.posts h3 {
    margin-left: 28vw;
}
.post-boxes {
    display:flex;
    justify-content: flex-end;
    padding-bottom: 50px;

}
.post-boxes img {
    margin: 10px;
    margin-top: 40px;
}

#post1   {
    display:flex;
    margin-right: 10vw;
    background-color: white;
    border-radius: 5px;
    
    
    
}

.post-info {
    max-width: 15vw;
    padding-left: 20px;
}