<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            text-align: center;
        }
        li {
            color: red;
            border: 5px solid blue;

        }
    </style>
    <title>
        Sample Page
    </title>
</head>
<body>
    <h1> Skills sets</h1>
    <strong> This is a sample page</strong>
    {% for skill in skills %}
        <li> {{skill.field}} - {{skill.name}}</li>
    {% endfor %}
    
</body>
</html>