{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hub/css/recommended_partners.css' %}">
</head>

<body>
    <header>
		<div class="logo">
			<a  href="{% url 'student-home' %}"><img src="{% static 'hub/img/GraduatesHubLogo.png' %}" alt="Graduates Hub Logo"></a>
		</div>
		<div class="title">
			<h1>GRADUATES HUB</h1>
			<p>"Where career dream comes true"</p>
		</div>
		<a href="/logout/"><button class="logout-button"> Logout </button></a>
		<a href="/hub/student-profile/{{user.profile.id}}">
		<img src="{{user.profile.photo.url}}" class="head-profile" width="60px" height="60px">
		</a>
	</header>
	<div class = "bar">
        <h2>Recommended Partners</h2>
    </div>
	<table>
		<thead>
		  <tr>
			<th></th>
			<th>Name</th>
			<th>Expected Design Course</th>
			<th>Personality</th>
			<th>Remove</th>
			<th>Send Request</th>
		  </tr>
		</thead>
		<tbody>
		{% for Student in Students %}
		  <tr>
			<td><img src="{{ Student.photo.url }}" alt="Profile Picture" height="30px"></td>
			<td>{{Student.name}}</td>
			<td>{{Student.design_semester}}</td>
			<td>{{Student.personality}}</td>
			<td><button class="table-button-red">x</button></td>
			<td><button class="table-button-green">✔</button></td>
			<td><a href="/hub/student-profile/{{Student.id}}" id="student_name"><button>View Profile</button></a></td>
			
		  </tr>
		{% endfor %}
		</tbody>
	  </table>
</body>
</html>