{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Graduates Hub</title>
	<link rel="stylesheet" type="text/css" href="{% static 'hub/css/search_page.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body> 
	<header>
		<div class="logo">
			<a  href="{% url 'student-home' %}"><img src="{% static 'hub/img/GraduatesHubLogo.png' %}" alt="Graduates Hub Logo"></a>
		</div>
		<div class="title">
			<h1>Graduates Hub</h1>
			<p>Where career dreams come true</p>
		</div>
		<a href="/logout/"><button class="logout-button"> Logout </button></a>
	</header>

	<div class="container">
		<form method="post" action="{% url 'search-page' %}" class="second-container" id="search-form" >
			{% csrf_token %}
			<div class="search-box">
			  <input type="search" class="search-input" name="searched" placeholder="Search..." value="{{searched}}">
			</div>
			
			<button type="submit" class="submit-button">
				<i class="fa fa-search" style="font-size:24px; color:black"></i>
			</button>

			<!--<input type="hidden" name="filter" value="All">-->
			
		  </form>
	</div>
        
	
  
	<div class="after-search">
		<div class="display-query">
			{% if searched %}
				<h2>Search results for {{searched}}</h2>

			{% else %}
				<h2>Hey! You forgot to search</h2>
			{%endif %} 
				
		</div>
		
		<div class="sort">
			<h3><ion-icon name="funnel-outline"></ion-icon> Sort by</h3>
			<!--<input type="text" class="sortbox" placeholder="Newest" readonly> -->
			<div class="dropdown">
				<button id="dropdown-btn"><span class="btn-text">Newest</span><ion-icon name="chevron-expand-outline"></ion-icon></button>
				<div class="dropdown-content">
					<a href="#">Newest</a>
					<a href="#">Oldest</a>
					<a href="#">Most Relevant</a>

				</div>
			</div>
		</div>
		
		

	</div>
	<div class="content">
		<div class="filter">

			<ul>
			  <li><a href="#" class="active">All</a></li>
			  <li><a href="#">People</a></li>
			  <li><a href="#">Companies</a></li>
			  <li><a href="#">Posts</a></li>
			  <li><a href="#">Jobs</a></li>
			</ul>
		  </div>
		  
		<div class="search-results">
			{% if results %}
			{% for result in results %}
				{% if result.type == 'Student'%}
				
					<div class="result" id="people">
						<a href="/hub/student-profile/{{result.object.id}}">
							<img src="{{result.object.photo.url}}">
							<div class="info">
								<p id="name">{{result.object.name}}</p>
								<p id="bio">{{result.object.bio}}</p>
							</div>
						</a>
					</div>
				
				
				{% elif result.type == 'Graduate' %}
				<div class="result" id="people">
					<img src="{{result.object.photo.url}}">
					<div class="info">
						<p id="name">{{result.object.name}}</p>
						<p id="bio">{{result.object.bio}}</p>
					</div>
					
				</div>

				{% elif result.type == 'Company' %}
				<div class="result" id="companies">
					<img src="{{result.object.photo.url}}">
					<div class="info">
						<p id="name">{{result.object.name}}</p>
						<p id="industry">{{result.object.industry}}</p>
						<p id="bio">{{result.object.bio}}</p>
					</div>
					
					
				</div>

				{% elif result.type == 'Post' %}
				<div class="result" id="posts">

					<div class="info">
						<p id="name">{{result.object.title}}</p>
						<p id="bio">{{result.object.content}}</p>
					</div>
					
				</div>
				{% endif %}
				
			{% endfor %}
			{% elif not searched %}
				<h3 class="no-search">Please enter your search...</h3>

			{% else %}
				<div class="no-results">
					<i class="material-icons" style="font-size:48px;color:red">warning</i>
					<h3>We couldn't find a match for "{{searched}}"</h3>
					
				</div>
			{% endif %}
		</div>
	</div>

	</main>

	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	<script src="{% static 'hub/js/search_page.js' %}"></script>
</body>
</html>