{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Graduates Hub</title>
	<link rel="stylesheet" type="text/css" href="{% static 'hub/css/student_profile.css' %}">
</head>
<body>
	<header>
		<div class="logo">
			<img src="{% static 'hub/img/GraduatesHubLogo.png' %}" alt="Graduates Hub Logo">
		</div>
		<div class="title">
			<h1>GRADUATES HUB</h1>
			<p>"Where career dream comes true"</p>
		</div>
	</header>
	<div class = "bar">
        <h2>Student Profile</h2>
    </div>
	<main>
        
        <div class="profile-info">
		<div class="profile-title">
            <h2> {{ user.name }}</h2>
			<img src="company_profile.png" alt="Profile Photo">
		</div>
		<div class="fields">
            <button>Request Sponsorship</button>
            <div class="fields-info">
			<div class="left">
				<p>Industy: Technology</p>
				<!--<p>Skills: Web Development, Graphic Design</p>
				<p>Interests: Economy, Health</p>
				<p>Personality Type: INFJ</p>-->
				
				<p>Description: Our main focus is on networks.</p>
				<p href="omahasolutions.com">Website: omahasolutions.com</p>
				
			</div>
			<div class="right">
				<!--<p>Year of Study: Fourth Year</p>
				-->
				<p>Status: Hiring</p>
				
				<p>Contact Info:</p>
				<p>Email: example@gmail.com</p>
				<p>Phone: 555-555-5555</p>
                
			</div>
        </div>
		</div>
    </div>
		
		<div class="dialog">
			<!--
			<div class="team-members">
				<h3>Team Members</h3>
				<ul>
					<li>Micheal Angelo</li>
					<li>Leonardo Castello</li>
					
				</ul>
			</div>
		-->
            
            <div class="posts">
            <h3>Job Oppurtinities</h3>
			<div class="post-boxes">
                <div id="post1">
                    <!--<img src="team_work_photo.jpg" width="100px" height="80px">-->
                    <div class="post-info">
                    <h4>Software Engineer</h4>
                    <p>
                        Skills: Python, JavaScript.
                    </p>
                </div>
                </div>
                <div id="post2">
                    <!--<img src="team_work_photo.jpg" width="100px" height="80px">-->
                    <div class="post-info">
                    <h4>Data Analyst</h4>
                    <p>
                        Skills: SQL, Python.
                    </p>
                </div>
                </div>
            </div>
            <div>

            </div>
        </div>
		</div>
	</main>
</body>
</html>