{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Graduates Hub</title>
	<link rel="stylesheet" type="text/css" href="{% static 'hub/css/student_profile.css' %}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">
	</script>
</head>
<body>
	<header>
		<div class="logo">
			<div class="logo">
				<a  href="{% url 'student-home' %}"><img src="{% static 'hub/img/GraduatesHubLogo.png' %}" alt="Graduates Hub Logo"></a>
			</div>
		</div>
		<div class="title">
			<h1>Graduates Hub</h1>
			<p>Where career dreams come true</p>
		</div>
		<a href="/login/"><button class="logout-button"> Logout </button></a>
	</header>
	<div class = "bar">
        <h2>Student Profile</h2>
    </div>
	<main>
        
        <div class="profile-info">
		<div class="profile-title">
            <h2> {{ student.name }}</h2>
			<img src="{{ student.photo.url}}" alt="Profile Photo">
		</div>
		<div class="fields">
			{% if not team or not user.profile.team %}
			<form class="team-request-form" id="team-request-form">
				{% csrf_token %}
			<input style="display:none;" readonly="readonly" class="form-control" id="student-id" placeholder="student-id" value="{{student.id}}"/>
			
			<button class='blue-button' type='submit' id="team-request-button">
			{% if team and not user.profile.team %}
            Request to join team
			{% elif not team and user.profile.team %}
			Invite to join team
			{% elif not team and not user.profile.team %}
			Request to create team
			{% endif %}</button>
			<h5 class="text-success text-center"></h5>
			</form>
			{% endif %}
		
            <div class="fields-info">
			<div class="left">
				<p>Skills: 
					<ul>
					{% for skill in skills %}
					 <li>{{skill}}</li> 
					{% endfor %}
					</ul>
				</p>
				
				<p>Personality Type: {{student.personality}}</p>
				
				<p>Description: {{student.bio}}</p>
				{% if student.website %}
				<p href="{{ student.website }}">Website: {{student.website}}</p>
				{% endif %}
				
			</div>
			<div class="right">
				<p>Year of Study: {{study_year}} year</p>
				
			
				
				<p>Contact Info:</p>
				<p>Email: {{ student.email }}</p>
				<p>Phone: {{ student.phone }}</p>
                
			</div>
        </div>
		</div>
    </div>
		
		<div class="dialog">
			
			<div class="team-members">
				{% if team %}
				<h3> Team: {{ student.team.name }}</h3>
				<h3>  Members:</h3>
				<ul>
				{% for member in team %}
				 <li><a href="/hub/student-profile/{{member.id}}">{{member}}</a></li>
				{% endfor %}
				</ul>
				{% endif %}
			</div>
		
            
            <div class="posts">
            <h3>Recent Posts</h3>
			<div class="post-boxes">
                <div id="post1">
                    <!--<img src="team_work_photo.jpg" width="100px" height="80px">-->
                    <div class="post-info">
                    <h4>Python Decorators</h4>
                    <p>
                        Decorators are a great tool in python.
                    </p>
                </div>
                </div>
                <div id="post2">
                    <!--<img src="team_work_photo.jpg" width="100px" height="80px">-->
                    <div class="post-info">
                    <h4>Team Work</h4>
                    <p>
                        Team work is very essential for success.
                    </p>
                </div>
                </div>
            </div>
            <div>

            </div>
        </div>
		</div>
	</main>
	<script type="text/javascript">
		$(document).on('submit','#team-request-form', function(e) {
			e.preventDefault();
			$.ajax({
				type: "POST",
				url:'/hub/team-request/',
				data: {
					requested_student_id: $('#student-id').val(),
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
				},
				success: function(data) {
					$("h5").html(data);
				}
			})
		})
		
	</script>
</body>
</html>