{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Graduates Hub</title>
	<link rel="stylesheet" type="text/css" href="{% static 'hub/css/student_profile.css' %}">
</head>
<body>
	<header>
		<div class="logo">
			<img src="{% static 'hub/img/GraduatesHubLogo.png' %}" alt="Graduates Hub Logo">
		</div>
		<div class="title">
			<h1>GRADUATES HUB</h1>
			<p>"Where career dream comes true"</p>
		</div>
	</header>
	<div class = "bar">
        <h2>Student Profile</h2>
    </div>
	<main>
        
        <div class="profile-info">
		<div class="profile-title">
			<p></p>
			<img src="{% static 'hub/img/Profile_photo.png' %}" alt="Profile Photo">
		</div>
		<div class="fields">
            <div class="fields-info">
			<div class="left">
				<p>Name: {{Student.name}} </p>
				<p>Gender: {{Student.gender}} </p>
				<p>Skills: {{Student.skills}} </p>
				<p>Personality Type: {{Student.Personality}} </p>
				
				
			</div>
			<div class="right">
				<p>Year of Study: {{Student.year}}</p>				
				<p>Contact Info:</p>
				<p>Email: {{Student.email}}</p>
				<p>Phone: {{Student.phone}}</p>
                
			</div>
        </div>

			
        
	</main>
</body>
</html>