{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Graduates Hub</title>
	<link rel="stylesheet" type="text/css" href="{% static 'hub/css/student_profile.css' %}">
</head>
<body>
	<header>
		<div class="logo">
			<div class="logo">
				<img src="{% static 'hub/img/GraduatesHubLogo.png' %}" alt="Graduates Hub Logo">
			</div>
		</div>
		<div class="title">
			<h1>Graduates Hub</h1>
			<p>Where career dreams come true</p>
		</div>
	</header>
	<div class = "bar">
        <h2>Student Profile</h2>
    </div>
	<main>
        
        <div class="profile-info">
		<div class="profile-title">
            <h2> {{ user.profile.name }}</h2>
			<img src="" alt="Profile Photo">
		</div>
		<div class="fields">
            <button>Edit Profile</button>
            <div class="fields-info">
			<div class="left">
				<p>Skills: 
					<ul>
					{% for skill in skills %}
					 <li>{{skill}}</li> 
					{% endfor %}
					</ul>
				</p>
				
				<p>Personality Type: {{user.profile.personality}}</p>
				
				<p>Description: {{user.profile.bio}}</p>
				{% if user.profile.website %}
				<p href="omahasolutions.com">Website: {{user.profile.website}}</p>
				{% endif %}
				
			</div>
			<div class="right">
				<p>Year of Study: {{study_year}} year</p>
				
			
				
				<p>Contact Info:</p>
				<p>Email: {{ user.profile.email }}</p>
				<p>Phone: {{ user.profile.phone }}</p>
                
			</div>
        </div>
		</div>
    </div>
		
		<div class="dialog">
			
			<div class="team-members">
				<h3> Team: {{ user.profile.team.name }}</h3>
				<h3> Members:</h3>
				<ul>
				{% for member in team %}
				 <li><a href="/profile">{{member}}</a></li>
				{% endfor %}
				</ul>
			</div>
		
            
            <div class="posts">
            <h3>Recent Posts</h3>
			<div class="post-boxes">
                <div id="post1">
                    <!--<img src="team_work_photo.jpg" width="100px" height="80px">-->
                    <div class="post-info">
                    <h4>Python Decorators</h4>
                    <p>
                        Decorators are a great tool in python.
                    </p>
                </div>
                </div>
                <div id="post2">
                    <!--<img src="team_work_photo.jpg" width="100px" height="80px">-->
                    <div class="post-info">
                    <h4>Team Work</h4>
                    <p>
                        Team work is very essential for success.
                    </p>
                </div>
                </div>
            </div>
            <div>

            </div>
        </div>
		</div>
	</main>
</body>
</html>